body {
  background-color: lightgray;
}

/* img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
} */

header {
  background-color: aliceblue;
  display: flex;
  /* flex-direction: column-reverse; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
}

main {
  height: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

img {
  max-height: 200px;
  max-width: 200px;
}

header img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

nav > a {
  text-decoration: none;
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 550px) {
  body {
    background-color: burlywood;
  }
}

@media (max-width: 450px) {
  
  body {
    background-color: aqua;
  }

  header {
    flex-direction: column;
  }
}


